<header class="header">
  <div class="header__side">
    <div class="header__logo">
      <a routerLink="/">
        <span class="header__logo-text">blackhole</span>
      </a>
    </div>
    <a routerLink="/sandbox">
      <span>Песочница</span>
    </a>
  </div>
  <div class="header__side">
    <div *ngIf="(AuthenticatedUser$ | async); then thenBlock else elseBlock">

    </div>
    <ng-template #thenBlock>
      <div class="header__user-info">
        <span class="header__username">{{AuthenticatedUser$.getValue()?.username}}</span>
        <a routerLink="/profile">
          <div class="header__avatar unknown">
            <img src="assets/icons/unknown-user.svg">
          </div>
        </a>
        <button (click)="signOut()">Выйти</button>
      </div>
    </ng-template>
    <ng-template #elseBlock>
      <div class="header__user-info">
        <div class="header__avatar unknown">
          <img src="assets/icons/unknown-user.svg">
        </div>
        <button (click)="signOut()">Выйти</button>
      </div>
    </ng-template>
  </div>
</header>
